* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right,rgb(55, 55, 164), rgb(99, 38, 99));
}

.container {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    z-index: 100;
}

img {
    width: 100px;
    height: auto;
}

.block {
    position: absolute;
    width: 20px;
    height: 30px;
    background: linear-gradient(to right,rgb(55, 55, 164), rgb(99, 38, 99));
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.2);
}

// MEDIA


@media(min-width: 576px) {
    img {
        width: 150px;
    }
}

@media(min-width: 768px) {
    img {
        width: 180px;
    }

    .block {
        width: 50px;
        height: 60px;
    }
}

@media(min-width: 992px) {
    img {
        width: 230px;
    }
}

@media(min-width: 1200px) {
    img {
        width: 300px;
    }

    .block {
        width: 100px;
        height: 100px;
    }
}
